@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Source Sans 3", serif;
  scroll-behavior: smooth;
}

.text-shadow{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-image{  
  animation: cartoon 1s ;
  transform-origin: bottom left;
}

@keyframes cartoon {
  0%{
    rotate: -90deg;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.swiper-slide{
  padding-bottom: 40px;
}

@media (min-width : 1024.98px) {
  .swiper-pagination{
    display: none;
  }

  .swiper-slide{
    padding-bottom: 0px;
  }
}


@media (max-width: 639.98px) {
  .bg-hero-mobile{
    background-position: right -100px center;
  }
}

