@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('/public/assets/fonts/SourceSansPro-Bold.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/public/assets/fonts/SourceSansPro-Light.otf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/public/assets/fonts/SourceSansPro-Regular.otf');
}

*{
  font-family: "Source Sans 3", serif;
}

.text-shadow{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-image{
  animation: cartoon 1s ;
  transform-origin: bottom left;
}

@keyframes cartoon {
  0%{
    rotate: -90deg;
  }
}
